body{
    padding: 0;
    margin: 0;
    background-image: url(Images/images.jpg);
    background-size: cover;
    }
    .container >div {
        width: 20%;
        height: 50%;
        box-sizing: border-box;
        border-radius: 50px;
        padding: 30px;
        margin: 100px;
    }
    
    .container{
        display: flex;
        justify-content: center;
    }
    .border1{
        border: 10px solid #121516;
        border-right-style: groove;
        border-left-style: solid;
        border-bottom-color: #1fd3fb;
        border-top-color: #6d696b;
        background-color: #aaffdc;
    }
    .border2{
        border: 10px solid #3496db;
        border-right-style: solid;
        border-left-style: groove;
        border-bottom-color: coral;
        border-top-color: crimson;
        background-color: #aaffdc;
    }
    .container2 >div {
        width: 20%;
        height: 50%;
        box-sizing: border-box;
        border-radius: 50px;
        float: left;
        padding: 30px;
        margin: 100px;
    }
    
    .container2{
        display: flex;
        justify-content: center;
    }
    .border3{
        border: 10px solid #0490ee;
        border-right-style: solid;
        border-left-style: groove;
        border-bottom-color: #c25229;
        border-top-color: #000000;
        background-color: #aaffdc;
    }
    .border4{
        border: 10px solid #5d005f;
        border-right-style: groove;
        border-left-style: solid;
        border-bottom-color: #e5e739;
        border-top-color: #ad5162;
        background-color: #aaffdc;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    